footer
  .container.text-center
    p.pull-left © 2018 jfox015.com. All Rights Reserved.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/jfox015/Eischied-Angular') GitHub Project
      li
        a(href='https://github.com/jfox015/Eischied-Angular/issues') Issues
